$primary-accent-color: #333;
$base-background-color: #fff;
$base-text-color: #333;

$table-background-color: #fff;
$secondary-table-background-color: #fff;
$form-background-color: #fff;
$searchbars-background-color: #fff;
$a-color: #313131;
$a-hover-color: #06c;
$header-background-color: #1a9f7d;

$menu-li-second-child-background-color: #2f2f2f;
$menu-li-third-child-background-color: #3d3d3d;
$menu-li-fourth-child-background-color: #474747;
$menu-li-fifth-child-background-color: #535353;
$menu-li-sixth-child-background-color: #5f5f5f;
$menu-li-seventh-child-background-color: #686868;
$header-background-color: #737373;
$menu-li-ninth-child-background-color: #7c7c7c;

$userinfo-username-color: #868686;
$userinfo-background-color-1: #868686;
$userinfo-background-color-2: #666666;
$userinfo-username-hover-background-color: #666666;

$userinfo-minor-color: #939393;
$userinfo-minor-hover-background-color: #707070;

$box-background-color: #fff;
$btn-background: #939393;
$btn-background-hover: #717171;
$btn-success-background: #0071e3;
$btn-success-background-hover: #0067cd;
$btn-green-post-background: rgb(0, 50, 0, .40);
$btn-green-post-background-hover: rgb(0, 50, 0, .60);
$btn-secondary-background: rgba(0, 0, 0, 0.36);
$btn-secondary-background-hover: rgba(0, 0, 0, 0.50);
$table-header-background-color: #f5f5f7;
$row-not-grouped-bakground-color: #fff;
$row-border-color: #ccc;

$blockquote-background-color: #F5F5F7;
$input-background-color: #fff;

$span-green-color: #4fb650;
$span-blue-color: #4987df;

$torrent-background-color: #1F282B;

$footer-color: #494949;

$input-color: #606060;

$ratio-red-color: #e85050;
$ratio-yellow-color: #e3ba65;

$menu-background-color-1: #0999;
$menu-background-color-2: #088;

$selection-background-color: rgba(105, 217, 146, 0.6);
$poll-background-color: rgba(131, 228, 166, 0.1);

$unread-icon: url(./assets/icons/Forum-Dark-Unread.svg);
$unread-locked-icon: url(./assets/icons/Forum-Dark-Locked.svg);
$unread-sticky-icon: url(./assets/icons/Forum-Dark-Pinned.svg);
$unread-locked-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Locked.svg);

$read-icon: url(./assets/icons/Forum-Dark-Read.svg);
$read-locked-icon: url(./assets/icons/Forum-Dark-Pinned-Locked-Read.svg);
$read-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Read.svg);
$read-locked-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Locked-Read.svg);
