@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);

/****************/
/* TEXTS COLORS */
/****************/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.linkbox > strong,
.alertbar,
.tooltipster-default .tooltipster-content a:hover,
#musicbrainz_popup a:hover {
    color: #54d1f1;
}
.poll .graph span {
    background-color: #54d1f1;
}
a:hover,
.tags a:hover,
#userform #settings_sections h2 a:hover {
    color: #b5e5f1;
}
svg|a:hover {
    fill: #b5e5f1;
}
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected,
#menu > ul a:hover,
#userinfo_minor:hover a:hover,
#userinfo_username:hover a:hover {
    background-color: #b5e5f1;
}
#noty_bottomRight_layout_container .noty_buttons a:hover {
    color: #b5e5f1 !important;
}
.forum_post.forum_unread {
    border-top: 2px solid #b5e5f1;
}


/***************/
/* MENU COLORS */
/***************/
#menu li {
    background: rgb(180,180,180);
    background: linear-gradient(0deg, rgb(180, 180, 180) 0%, rgb(250, 250, 250) 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}
#menu li:nth-child(10) {
    background: transparent;
}
#menu li:nth-child(10) a {
    color: #ffffff;
}
@media (min-width: 480px) {
    #menu > ul > #nav_staff > a:hover {
        color: #dddddd;
    }
}
#userinfo_username {
    background: rgb(180,180,180);
    background: linear-gradient(0deg, rgb(180, 180, 180) 0%, rgb(250, 250, 250) 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}
#userinfo_minor {
    background: linear-gradient(0deg, rgb(180, 180, 180) 0%, rgb(250, 250, 250) 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}
@media screen and (min-width: 481px) {
    #menu a, #menu > ul a:hover {
        color: #111111;
    }
    #menu > ul li.active a {
        color: #111111;
    }
    #userinfo_username li a, #userinfo_username:hover li a, #userinfo_username li a:hover {
        color: #111111;
    }
    #userinfo_minor li a, #userinfo_minor:hover li a, #userinfo_minor li a:hover {
        color: #111111;
    }
}


/***************/
/* PAGE COLORS */
/***************/
body {
    background-color: #000000;
}

table .rowa:nth-child(odd),
table .rowb:nth-child(odd),
.colhead,
.colhead_dark,
input[type=email],
input[type=password],
input[type=text],
input[type=search],
select,
textarea,
.head,
#searchbars > ul,
.torrent_table .group,
#discog_table > div.box.center,
.filelist_table td,
.reportinfo_table,
.torrentdetails,
blockquote {
    background-color: #0d0d0d;
}
.group_torrent.edition,
.torrent,
#dnulist tr:not(.colhead):not(.colhead_dark):nth-child(odd),
blockquote {
    background-color: #090909;
}
table,
table .rowa:nth-child(even),
table .rowb:nth-child(even),
form,
.box,
.box2,
#searchbars > ul input,
#noty_bottomRight_layout_container .noty_buttons,
.group_torrent {
    background-color: #111;
}
table .rowa,
table .rowb,
.torrent_table tr:not(.colhead):not(.colhead_dark),
.box table:not(.layout),
.box2 table:not(.layout) {
    border-top: 2px solid #070707;
}
.torrent_table,
#searchbars .search_form input:focus {
    background-color: #000000;
}


/***************/
/* CATS COLORS */
/***************/
.cats_applications {
    background-color: #54d1f1;
}
.cats_audiobooks {
    background-color: #f2ca85;
}
.cats_comedy {
    background-color: #f89a7e;
}
.cats_comics {
    background-color: #af81c9;
}
.cats_ebooks {
    background-color: #50a361;
}
.cats_elearningvideos {
    background-color: #7c71ad;
}


/*************/
/* CONTAINER */
/*************/
#menu {
    margin-bottom: 10px;
}

#wrapper {
    max-width: 1400px;
}

img {
    border-radius: 6px;
}
.avatar {
    background-color: #0f0f0f;
    border-right: 1px solid #090909;
}
.avatar_container img {
    border-radius: 0px;
}

button, input[type=button], input[type=submit], input[type=email], input[type=password], input[type=text], input[type=search], select, textarea {
    border-radius: 6px;
}

#menu {
    border-radius: 6px;
}

#menu > ul li.active a, #menu > ul a:hover, #userinfo_minor:hover a:hover, #userinfo_username:hover a:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

#menu li:nth-child(1), #menu li:nth-child(2), #menu li:nth-child(3), #menu li:nth-child(4), #menu li:nth-child(5), #menu li:nth-child(6), #menu li:nth-child(7), #menu li:nth-child(8), #menu li:nth-child(9) {
    text-transform: uppercase;
}

#userinfo_minor::before {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#nav_userinfo {
    border-radius: 0 6px 0 0;
}

#userinfo_minor {
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

#searchbars > ul {
    background-color: transparent;
}

#searchbars .search_form input {
    border-radius: 6px;
}

form {
    border-radius: 6px;
}

.box.pad .search_form, .search_form .filter_torrents, .search_form .filter_torrents div.submit, .searchbars .search_form, .sidebar .search_form {
    border-radius: 6px;
}

.cats_applications, .cats_audiobooks, .cats_comedy, .cats_comics, .cats_ebooks, .cats_elearningvideos {
    right: 0px;
    width: 4px;
    opacity: 1;
}

#top10 .cats_col .cats_applications, #top10 .cats_col .cats_audiobooks, #top10 .cats_col .cats_comedy, #top10 .cats_col .cats_comics, #top10 .cats_col .cats_ebooks, #top10 .cats_col .cats_elearningvideos {
    right: 0px;
    width: 4px;
}

#top10 td:not(.cats_col) .cats_applications, #top10 td:not(.cats_col) .cats_audiobooks, #top10 td:not(.cats_col) .cats_comedy, #top10 td:not(.cats_col) .cats_comics, #top10 td:not(.cats_col) .cats_ebooks #top10 td:not(.cats_col) .cats_elearningvideos {
    width: 0px;
}

table, .box {
    border-radius: 6px;
    overflow: hidden !important;
}

.req-choice {
    vertical-align: top;
}

form input {
    vertical-align: baseline;
}

table.forum_index.m_table tr td {
    line-height: 26px;
}

.wrap_overflow, .wrap_overflow a, .filelist_table td, .reportinfo_table, .torrentdetails blockquote {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.sidebar .box #covers {
    padding: 20px;
}

.tl_free {
    color: #ffd45f;
}

#collage ul.collage_images li {
    width: 8%;
    margin: 1%;
}
#collage ul.collage_images li a img {
    border-radius: 21px;
}

.poll .graph {
    border-radius: 4px;
    overflow: hidden;
}

@media screen and (min-width: 481px) {
    #menu li:nth-child(1), #menu li:nth-child(2), #menu li:nth-child(3), #menu li:nth-child(4), #menu li:nth-child(5), #menu li:nth-child(6), #menu li:nth-child(7), #menu li:nth-child(8), #menu li:nth-child(9) {
        border-right: 1px solid #afafaf;
    }
    #userinfo_username {
        border-left: 1px solid #afafaf;
    }
    #userinfo_minor {
        border-left: 1px solid #afafaf;
    }
}
@media (min-width: 481px) and (max-width: 639px) {
    #menu > ul, #inbox .body, #userinfo_username #nav_userinfo > a, .forum_post td.body, .box.news_post {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    div .forum_post .body img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #searchbars {
        margin-bottom: 8px;
    }
    #searchbars > ul {
        flex-wrap: wrap;
        gap: 6px;
    }
    #searchbars > ul li {
        margin: 0px 0px 0px 0px;
        flex: 0 0 31.5%;
    }
    #searchbars > ul li:last-child {
        margin: 0px 0px 0px 0px;
    }
    #searchbars > ul li#searchbar_log {
        display: none;
    }
    #searchbars li .search_form {
        padding: 0px !important; 
    }
    .forum_post td.body {
        width: auto; 
        padding-left: 12px; 
    }
    .forum_post .avatar {
        max-width: 60px;
        padding: 0px;
        width: 60px;
    }
    .forum_post .avatar img {
        max-width: 60px !important;
        min-width: 60px;
    }
    #logo {
        height: 26px;
        width: 26px;
        margin: 0 auto;
    }
    .hiden_mobile_menu {
        display: inline-flex;
        position: absolute;
        z-index: 999;
    }
    .hiden_mobile_menu {
        top: 12px;
        right: 20px;
        color: #fff;
    }
    .fa-cog:before, .fa-gear:before {
        font-size: 1.517em;
    }
}
