@import '../apollostage/variables';

$unread-icon: url(./assets/icons/Forum-Dark-Unread.svg);
$unread-locked-icon: url(./assets/icons/Forum-Dark-Locked.svg);
$unread-sticky-icon: url(./assets/icons/Forum-Dark-Pinned.svg);
$unread-locked-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Locked.svg);

$read-icon: url(./assets/icons/Forum-Dark-Read.svg);
$read-locked-icon: url(./assets/icons/Forum-Dark-Pinned-Locked-Read.svg);
$read-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Read.svg);
$read-locked-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Locked-Read.svg);

@import '../apollostage/_base';
@import './_base';