$primary-accent-color: #232323;
$base-background-color: #f7fff8;
$base-text-color: #646464;

$userinfo-background-color-1: #1e7683aa;
$userinfo-background-color-2: #1e7683;
$userinfo-minor-hover-background-color: #189273;
$userinfo-minor-color: #23d1a5;
$userinfo-username-color: #20c098;
$userinfo-username-hover-background-color: #16866a;
$userinfo-background-color-1: #22696eaf;
$userinfo-background-color-2: #22696e;

$table-background-color: #eaf3f2;
$secondary-table-background-color: #acb9b7;
$form-background-color: #dee9e7;
$searchbars-background-color: #c7d4d2;
$a-color: #313131;
$a-hover-color: #198e70;
$header-background-color: #1a9f7d;

$menu-li-second-child-background-color: #0a3a2e;
$menu-li-third-child-background-color: #0c4a3b;
$menu-li-fourth-child-background-color: #0f5b48;
$menu-li-fifth-child-background-color: #126c56;
$menu-li-sixth-child-background-color: #157d63;
$menu-li-seventh-child-background-color: #188e70;
$menu-li-ninth-child-background-color: #1daf8b;

$box-background-color: #effaf8;
$btn-background: #939393;
$btn-background-hover: #717171;
$btn-success-background: #2c9d56;
$btn-success-background-hover: #248046;
$btn-green-post-background: #2c9d56;
$btn-green-post-background-hover: #248046;
$btn-secondary-background: rgba(0, 0, 0, 0.36);
$btn-secondary-background-hover: rgba(0, 0, 0, 0.50);
$table-header-background-color: #dee9e7;
$row-not-grouped-bakground-color: #eef6f4;
$row-border-color: #c9d6d5;

$blockquote-background-color: #e5efed;
$input-background-color: #fff;

$span-green-color: #4fb650;
$span-blue-color: #4987df;

$torrent-background-color: #1F282B;

$footer-color: #494949;

$input-color: #606060;

$ratio-red-color: #e85050;
$ratio-yellow-color: #e3ba65;

$menu-background-color-1: #0999;
$menu-background-color-2: #088;

$selection-background-color: rgba(105, 217, 146, 0.6);
$poll-background-color: rgba(131, 228, 166, 0.1);

$unread-icon: url(./assets/icons/Forum-Dark-Unread.svg);
$unread-locked-icon: url(./assets/icons/Forum-Dark-Locked.svg);
$unread-sticky-icon: url(./assets/icons/Forum-Dark-Pinned.svg);
$unread-locked-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Locked.svg);

$read-icon: url(./assets/icons/Forum-Dark-Read.svg);
$read-locked-icon: url(./assets/icons/Forum-Dark-Pinned-Locked-Read.svg);
$read-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Read.svg);
$read-locked-sticky-icon: url(./assets/icons/Forum-Dark-Pinned-Locked-Read.svg);
